* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  font-family: Arial, sans-serif;
  background-color: #031325;
}

.logo {
  font-size: 2em;
  color: #8fc5ff;
  display: flex;
  margin-left: -40%;
  padding-bottom: 30px;
}

.main-content {
  width: 100%;
  max-width: 800px;
  background: rgb(0, 14, 31);
  padding: 20px;
  height: 80vh;
  align-items: center;
  border: 1px solid rgb(45, 74, 107);
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scores-section {
  flex: 1;
  margin-right: 20px;
}

.scores-list {
  color: #aed5ff;
  background-color: #031931;
  border: 4px solid rgb(69, 111, 238);
}

.score-item {
  color: #8fc5ff;
  font-size: 20px;
  background-color: #031931;
}

.scores-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.scores-title {
  font-size: 1.5em;
  margin: 0;
  color: #aed5ff;
}

.scores-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #333;
}

.scores-list li:nth-child(even) {
  background: #092368;
}

.form-container {
  flex: 1;
  max-width: 100%;
}

#add-score {
  display: flex;
  flex-direction: column;
}

.form-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid rgb(34, 96, 210);
  border-radius: 5px;
  background-color: #03101f;
  color: #aed5ff;
}

.submit-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0069d9;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(186, 203, 242);
  font-size: 30px;
}
